[Unit]
Description=rbuflogd daemon
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /etc/rbuflogd
ExecStart=/usr/bin/rbuflogd -p /etc/rbuflogd -l 0
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target